{
  "useTabs": false,
  "tabWidth": 2,
  "bracketSpacing": true,
  "semi": true,
  "jsxBracketSameLine": false,
  "printWidth": 120,
  "arrowParens": "avoid",
  "trailingComma": "none",

  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@payload(.*)$",
    "^payload/config(.*)$",
    "^payload(.*)$",
    "^context(.*)$",
    "^hooks(.*)$",
    "^utils(.*)$",
    "^constants(.*)$",
    "^formblocks(.*)$",
    "^components(.*)$",
    "^atoms(.*)$",
    "^molecules(.*)$",
    "^organisms(.*)$",
    "^layouts(.*)$",
    "^icons(.*)$",
    "^state(.*)$",
    "^queries(.*)$",
    "^models(.*)$",
    "^types(.*)$",
    "^[./]"
  ],

  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,

  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
